.get_in_touch {
	padding-top: 42px;
	background-color: white;
}
.get_in_touch .heading {
	margin-bottom: 0px;
}
.get_in_touch .heading h2 {
	font-weight: 600;
	font-size: 59px;
	line-height: 72px;
	position: relative;
	color: #000000;
}
.email_text {
	font-size: 27px;
	line-height: 33px;
	padding-top: 62px;
	padding-bottom: 104px;
	margin-bottom: 0px;
}
.get_in_touch .heading .heading_style {
	position: absolute;
	width: 250px;
	height: 20px;
	background: #aed3e5;
	top: 28px;
	right: 455px;
	z-index: -1;
}
.icon_getintouch {
	border-radius: 50%;
}
.get_in_touch p {
	color: #000000;
	font-size: 18px;
	padding: 20px 150px;
}
.get_in_touch span {
	margin-top: 100px;
}

@media screen and (max-width: 992px) {
	.get_in_touch p {
		font-size: 16px;
		padding: 20px 10px;
	}

	.get_in_touch .heading .heading_style {
		display: none;
	}
}
