.connectWallet {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 20px;
  padding:7px 15px;
  outline: none;
  border: 0px;
  font-size: 18px;
  line-height: 21px;
}
.landing_page {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 200px;
  background: linear-gradient(
    rgba(104, 179, 218, 0.2),
    rgba(104, 179, 218, 0.7)
  );
  border-bottom-left-radius: 800px 200px;
  border-bottom-right-radius: 800px 200px;
  background-image: url(../assets/images/imgpsh_fullsize_anim.png);
  background-repeat: no-repeat;
  
  background-position:center;
  margin-bottom: 100px;
}

.landing_page .landing_page_content {
  padding-top: 150px;
}

.landing_page .landing_page_content .new_btn {
  background: #68b3da;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 9px 15px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.landing_page .landing_page_content h1 {
  color: #fff;
  font-weight: bold;
}

.landing_page .landing_page_content p {
  color: #000;
  font-size: 22px;
}

.landing_page .landing_page_content .white_btn {
  outline: none;
  background-color: #fff;
  border: none;
  width: 100%;
  height: 60px;
  color: #000000;
  font-size: 22px;
  line-height: 22px;
  border-radius: 5px;
}
.landing_page .landing_page_content .white_btn img {
  height: 22px;
  padding-right: 10px;
}

.landing_page_turtle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.landing_page_turtle img {
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 992px) {
  .landing_page .landing_page_content .white_btn img {
    width: 25px;
    height: 25px;
  }

  .landing_page_turtle {
    margin-top: 10px;
  }

  .landing_page_turtle img {
    width: 250px;
    height: 250px;
  }
  .icon_image {
    width: 50%;
  }
  .big_white_text {
    font-size: 60px;
    line-height: 85px;
  }
}


.telegram {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 22px;
  cursor: pointer;
}
.big_white_text {
  font-size: 75px;
  line-height: 100px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
img.icon_image {
  width: 100%;
}
.icon_group {
  display: flex;
  align-items: center;
  margin-top: 140px;
}
